name: Test
on: [push, pull_request]
jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install pixi CLI
              run: |
                  curl -fsSL https://pixi.sh/install.sh | sh
                  export PATH="/home/runner/.pixi/bin:$PATH"

            - name: Install dependencies and build
              run: |
                  export PATH="/home/runner/.pixi/bin:$PATH"
                  pixi install --locked

            - name: Run basic test - hat --help
              run: |
                  export PATH="/home/runner/.pixi/bin:$PATH"
                  hat --help
